/******* My Additions *********/

html,
body,
#root {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.App {
  position: absolute;
  display: grid;
  grid-template-rows: 75px auto;
  top: 0;
  bottom: 0;
  width: 100%;
  /* background-color: #fcf8e8; */
  text-align: center;
}

#content {
  background-color: #fcf8e8;
}

h1 {
  font-weight: lighter;
}

h2 {
  font-weight: lighter;
}

h3 {
  font-weight: lighter;
}

h4 {
  font-weight: lighter;
  font-size: 15px;
}

h5 {
  font-weight: normal;
  font-style: italic;
}

button {
  border-radius: 5px;
  margin: 20px;
  height: 30px;
  /* font-weight: bold; */
  font-size: 14px;
  border: black 1.5px solid;
  background-color: rgb(243 243 243);
}

.centered-block,
.trip-card {
  background-color: #d1ebda;
}

/******* Header *********/

/* #header {
  height: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

#header {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: left;
  /* position: relative; */
  background-color: #ecb390;
}

#header nav {
  height: 75px;
  width: 33%;
  display: flex;
  align-items: center;
  /* font-weight: bold; */
}

#header h1 {
  height: 75px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px #fff;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: black;
}

#header nav a {
  margin: 0 20px 0 20px;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px #fff;
}

#header > div {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

/******* Signup/Login Page *********/

#signup-login {
  display: grid;
  grid-template-rows: 1fr auto 2fr;
  justify-items: center;
  height: 100%;
}

#signup-login .centered-block {
  height: auto;
  padding: 20px;
  /* background-color: white; */
  border-radius: 30px;
  /* position: relative; */
  border: black 1px solid;
  width: 300px;
}

/******* Signup Page *********/

#signup {
  display: grid;
  grid-template-rows: 1fr auto 2fr;
  justify-items: center;
  height: 100%;
}

#signup .centered-block {
  height: auto;
  padding: 20px;
  /* background-color: white; */
  border-radius: 30px;
  /* position: relative; */
  border: black 1px solid;
  width: 300px;
}

/******* Login Page *********/

#login {
  display: grid;
  grid-template-rows: 1fr auto 2fr;
  justify-items: center;
  height: 100%;
}

#login .centered-block {
  height: auto;
  padding: 20px;
  /* background-color: white; */
  border-radius: 30px;
  /* position: relative; */
  border: black 1px solid;
  width: 300px;
}

/******* New Trip Page *********/

#new-trip {
  display: grid;
  grid-template-rows: 1fr auto 2fr;
  justify-items: center;
  height: 100%;
  /* flex-direction: column; */
}

#new-trip .centered-block {
  height: auto;
  padding: 20px;
  /* background-color: white; */
  border-radius: 30px;
  /* position: relative; */
  border: black 1px solid;
}

.centered-block form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-block form input {
  width: 250px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  height: 30px;
}

/******* My Trips Page *********/

#my-trips > div {
  /* position: relative; */
  display: flex;
  flex-direction: column;
}

#trip-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.trip-card {
  /* background: white; */
  padding: 10px;
  /* background-color: white; */
  border-radius: 30px;
  margin: 30px;
  width: 320px;
  border: black 1px solid;

  display: grid;
  grid-template-rows: 1fr 1fr auto 1fr;
  justify-items: center;

  /* Hover behavior: */
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  transition: all 0.5s ease; /* back to normal */
  cursor: pointer;
}

.trip-card:hover {
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transform: translate3D(0, -1px, 0) scale(1.03);
}

.trip-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: black 1px solid;
  border-radius: 5px;
}

/******* Trip Page *********/
#container {
  position: absolute;
  top: 135px;
  bottom: 0;
  width: 100%;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
  /* height: 700px; */
  height: 100%;
  width: 100%;
}

/* #trip {
  position: relative;
  display: grid;
  grid-template-rows: 60px auto;
} */

#trip-header {
  display: flex;
  align-items: center;
  height: 60px;
  /* padding: 10px; */
  /* margin-left: 20px;
  margin-right: 20px; */
}

#trip-header h2 {
  margin-left: 20px;
  margin-right: 20px;
}

/******* Trip Page Image Popups  *********/

.leaflet-popup-content {
  margin: 0;
  line-height: 0;
}

.leaflet-popup-content-wrapper {
  padding: 0;
}

.leaflet-popup-content > img {
  border-radius: 12px;
  width: 301px;
}

.leaflet-popup-tip {
  height: 0;
}

/******* Edit Trip Page *********/

/* #edit-trip {
  position: relative;
} */

#existing-image-card,
#uploaded-image-card {
  background: white;
  padding: 10px;
  background-color: white;
  border-radius: 30px;
  margin: 30px;
  width: 320px;
  border: black 1px solid;

  display: grid;
  /* grid-template-rows: 1fr 1fr auto 1fr; */
  justify-items: center;
}

.trip-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;

  border: black 1px solid;
  border-radius: 5px;
}

#existing-image-card img {
  border: black 1px solid;
  border-radius: 5px;
}

#image-cards-container,
#uploaded-images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
